
@font-face {
    font-family:FascinateInline;
    src: url(https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Princess+Sofia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
}
  
  @media (min-width: 768px) {
    main {
      flex-direction: row;
      justify-content: space-between;
    }
  
    #blog-list, #blog-post {
      width: 48%;
    }
  }

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
}
.runner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0px 6px 0px;
}
.tag-news{
    font-size: 22px;
    font-weight: bold;
    width: 144px;
    background: transparent;
    margin: 5px 0px 5px 50px;
    padding: 0;
}
.blink{
    height: 30px;
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.runner-list{
    display: flex;
}
.marq-link{    
    display: flex;
    margin: 4px 5px 4px 5px;;
    text-decoration: none;
    color: rgb(72, 11, 153);
    align-items: center;
    justify-content: center;
}
.marq-date{
    margin: 0px 5px 0px 0px;
    font-size: 14px;
    font-weight: 600;
}
.marq-list{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
/* wishing */
#wishMessage {
    font-size: 2em;
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 175px 10px 0px;
}
.wish-icon {
    margin-right: 10px;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}
.morning {
    color: #e42585; /* Pink for morning */
}

.afternoon {
    color: #ffa500; /* Orange for afternoon */
}

.evening {
    color: #1687f8; /* DodgerBlue for evening */
}

.night {
    color: #8853f1; /* MediumPurple for night */
}
/* end wishing */
.logo{
    display: flex;
    height: auto;
    align-items: center;
    margin:0px 100px 0px 100px;
    border: black solid;
    border-radius: 70px;
}
.Logo-png{
    height: 118px;
    margin: 0px 118px 0px 113px;
    border-radius: 70px;
}
.main-manu{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 135px;
    font-size: 24px;
    font-weight: 800;
    list-style: none;
}
.m-link{
    margin: 0px 24px 0px 24px;
    text-decoration: none;
    color: rgb(72, 11, 153);
}
.quotes{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 5px 10px 5px;
    border: 2px solid;
    border-style: dashed;

}
.sidbar-1-i{
    font-size: 20px;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}
.s1-i-l{
 text-decoration: none;   
 color: rgb(72, 11, 153);
}
.Si-tag{
    margin: 16px 0px 16px 42px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.dropdown{
    margin: 24px 0px 24px 0px;
}
.dropdown-button {
    background-color: transparent;
    color: rgb(72, 11, 153);
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px 0px 35px;
    border: 2px solid;
    border-radius: 40px;
}

.dropdown-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}


/* blog start */
#blog-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 20px 0px 20px 13px;
    
}

.blog-post {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    width: calc(33.333% - 2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    margin-top: 0;
}

.blog-post p {
    font-size: 0.9rem;
    line-height: 1.6;
}
.download-link {
    display: block;
    margin-top: 1rem;
    color: #0066cc;
    text-decoration: none;
}
#class-Xii-Notes
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 20px 0px 20px 13px;
}
.blog-post {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    width: calc(33.333% - 2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    margin-top: 0;
}

.blog-post p {
    font-size: 0.9rem;
    line-height: 1.6;
}
.download-link {
    display: block;
    margin-top: 1rem;
    color: #0066cc;
    text-decoration: none;
}
/* blog end */
/* About Us Section */
.aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 20px;
    background: #ffffff;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
    border-radius: 20px;
    margin-bottom: 20px;
}



/* youtube embed end */

/* footer Start */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    margin: 5px 0px 0px 0px;
    background-color: blanchedalmond;
    height: 150px;
    font-family: 'Font Awesome 6 Free'
}
/* footer end  */


/* responsiveness start */
@media screen and (max-width: 1163px) {
    
    .logo {
        display: flex;
        height: 106px;
        align-items: center;
        margin: 0px 50px 0px 50px;
        border: black solid;
        border-radius: 70px;
    }
    .Logo-png {
        height: 100px;
        margin: 0px 40px 0px 80px;
        border-radius: 70px;
    }
    .tag-news {
        font-size: 19px;
        font-weight: bold;
        width: 130px;
        background: transparent;
        margin: 5px 0px 5px 50px;
        padding: 0;
    }
    .marq-list {
        list-style: none;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
}
@media screen and (max-width:990px) {
    .main-manu {
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 58px;
        font-size: 22px;
        font-weight: 800;
        list-style: none;
    }
    .Logo-png{
        height: 102px;
    }
    .marq-list {
        list-style: none;
        text-decoration: none;
        font-size: 17px;
        font-weight: bold;
    }

    
}
@media screen and (max-width:845px) {
    .logo {
        display: flex;
        height: 170px;
        align-items: center;
        margin: 0px 50px 0px 50px;
        border: black solid;
        border-radius: 70px;
        flex-direction: column;
    }
    .Logo-png{
        height: 130px;
        border: none;
        border-radius: 70px;
}
.main-manu {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 30px;
    font-size: 22px;
    font-weight: 800;
    list-style: none;
}
.tag-news{
    font-size: 18px;
}
.runner-list {
    display: flex;
    margin: 0px -28px 0px 0px;
}
    
}
@media screen and (max-width:724px) {
    .tag-news{
        font-size: 18px;
    margin: 0px 0px 0px 20px;
    }
    .runner-list{
        margin: 0px 0px 0px 16px;
    }
    .main-manu {
        display: flex;
        align-items: center;
        margin: 0px 0px 0px 5px;
        font-size: 20px;
        font-weight: 800;
        list-style: none;
    }
    .m-link {
        margin: 0px 22px 0px 22px;
        text-decoration: none;
        color: rgb(72, 11, 153);
    }
    .logo {
        display: flex;
        height: 170px;
        align-items: center;
        margin: 0px 50px 0px 50px;
        border: black solid;
        border-radius: 70px;
        flex-direction: column;
    }
    .Logo-png{
        height: 130px;
        border: none;
        border-radius: 70px;
        margin: 0;
}
}
@media screen and (max-width:635px){
    .logo {
        display: flex;
        height: 170px;
        align-items: center;
        margin: 0px 50px 0px 50px;
        border: black solid;
        border-radius: 70px;
        flex-direction: column;
    }
    .Logo-png{
        height: 130px;
        border: none;
        border-radius: 70px;
        margin: 0;
}
    .Logo-png{
        height: 62px;
    }
    .blink {
        height: 28px;
        margin: 12px 0px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width:630px) {
    .logo {
        display: flex;
        height: 170px;
        align-items: center;
        margin: 0px 50px 0px 50px;
        border: black solid;
        border-radius: 70px;
        flex-direction: column;
    }
    .Logo-png{
        height: 130px;
        border: none;
        border-radius: 70px;
        margin: 0;
}

}
@media screen and (max-width:545px){
    #wishMessage {
        font-size: 2em;
        transition: opacity 1s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px 10px 0px;
    }
    .wish-icon {
        margin-right: 10px;
    }
    .hidden {
        opacity: 0;
    }
    
    .visible {
        opacity: 1;
    }
    .morning {
        color: #ff69b4; /* Pink for morning */
    }
    
    .afternoon {
        color: #ffa500; /* Orange for afternoon */
    }
    
    .evening {
        color: #1e90ff; /* DodgerBlue for evening */
    }
    
    .night {
        color: #9370db; /* MediumPurple for night */
    }
}
@media screen and (max-width:510px) {
    .tag-news{
        margin: 0px 0px 0px 4px;
        width: 80px;
    }
    .m-link{
        margin: 0px 10px 0px 10px;
    }
    .tag-news{
        margin:  0px 0px 0px 25px;
        font-size: 18px;
    }
    .marq-list{
        margin: 0px 0px 0px 6px;
    }
    .logo {
        margin: 0px 15px 0px 15px;
        padding: 0px;
    }
    .Logo-png{
        margin: 0;
    }
    
}
@media screen and (max-width:850px) {
    .dropdown-button {
        background-color: transparent;
        color: rgb(72, 11, 153);
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 18%;
        font-size: 15px;
        font-weight: 600;
        margin: 10px 0px 0px 35px;
        border: 2px solid;
        border-radius: 40px;
    }
    
}

@media (max-width: 768px) {
    .blog-post {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 480px) {
    .blog-post {
        width: 100%;
    }
    .dropdown-button{
    background-color: transparent;
    color: rgb(72, 11, 153);
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0px 0px 35px;
    border: 2px solid;
    border-radius: 40px;
}
}
@media screen and (max-width:446px) {
    .main-manu{
             margin: 0px 0px 0px 0px;
            font-size: 22px;
            font-weight: 600;
    }
    .logo {
        height: 100px;
        margin: 0px;
    }
    .Logo-png{
        height: 114px;
        margin: 0px;
    }
    .m-link{
        font-size: 22px;
    }
    .quotes {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 56px 10px 0px 10px;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6px;
        margin: 5px 0px 0px 0px;
        background-color: blanchedalmond;
        height: 35px;
        font-family: 'Font Awesome 6 Free';
    }
}

@media screen and (max-width:390px) {
    .Logo-png {
        height: 110px;
        width: 97px;
        margin: 0;
    }   
.main-manu{
    margin: 0px 0px 0px 0px;
   font-size: 15px;
   font-weight: 600;
}
.logo {
    margin: 0px 15px 0px 15px;
    padding: 0px;
    height: 100px;
}
.m-link{
    font-size: 20px;
}
.sidbar-1-i {
    font-size: 18px;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

}